<!-- Login page -->
<ng-container *ngIf="!isLoggedIn">
    <div class="main-container">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Login</mat-card-title>
      </mat-card-header>
      <mat-card-content>
      <form class="login-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <div class="field-row">
           <mat-form-field appearance="fill">        
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" required>
            <mat-error *ngIf="loginForm.controls?.username?.invalid && (loginForm.controls?.username?.dirty || 
            loginForm.controls?.username?.touched)">
              Please enter a valid username.
            </mat-error>
          </mat-form-field>
        </div>
        <div class="field-row">
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" required>
            <mat-error *ngIf="loginForm.controls?.password?.invalid && (loginForm.controls?.password?.dirty ||
            loginForm.controls?.password?.touched)">
              Please enter a valid password.
            </mat-error>
          </mat-form-field>
        </div>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </mat-card-content>
    </mat-card>
  </div>
  </ng-container>