<!-- <app-topbar (sidebarToggled)="sidebar.toggle()"></app-topbar>
<mat-sidenav-container>
  <mat-sidenav #sidebar mode="side" opened>
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> -->

<app-topbar (sidebarToggled)="sidenav.toggle()"></app-topbar>
 <mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a *ngFor="let sidebar of sidemenu"
         mat-list-item  
         [routerLink]="sidebar.path" 
         (click)="sidenav.toggle()"> {{sidebar.label}}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 88vh;">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
