/* Structure */
.issue{
table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 60%;
  }
  .row-container {
    display: flex;
    .drowdown-wrapper{
        padding-left: 30px;
    }
  }
}