<div class="addsprint">
<h2 mat-dialog-title>Add Sprint</h2>
<mat-dialog-content>
    <div class="main-container">
        <form class="add-sprint-form" [formGroup]="addsprintForm" (ngSubmit)="onSubmit()">
            <div class="field-row">
               <mat-form-field appearance="fill">        
                <mat-label>Title</mat-label>
                <input matInput formControlName="title" required>
                <mat-error *ngIf="addsprintForm.controls['title'].invalid && (addsprintForm.controls?.['title']?.dirty || 
                addsprintForm.controls?.['title']?.touched)">
                  Please enter a valid title.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="field-row">
              <mat-form-field appearance="fill">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="startDatePicker" formControlName="startDate" required>
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
                <mat-error *ngIf="addsprintForm.controls['startDate']?.invalid && (addsprintForm.controls['startDate']?.dirty ||
                addsprintForm.controls['startDate']?.touched)">
                  Please enter a valid startDate.
                </mat-error>
              </mat-form-field>
            </div>
            <div class="field-row">
                <mat-form-field appearance="fill">
                  <mat-label>End Date</mat-label>
                  <input matInput [matDatepicker]="endDatePicker" formControlName="endDate" required>
                  <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                  <mat-datepicker #endDatePicker></mat-datepicker>
                  <mat-error *ngIf="addsprintForm.controls['endDate']?.invalid && (addsprintForm.controls['endDate']?.dirty ||
                  addsprintForm.controls['endDate']?.touched)">
                    Please enter a valid endDate.
                  </mat-error>
                </mat-form-field>
              </div>
              <div class="field-row">
                  <mat-radio-group formControlName="isActive" required>
                    <mat-radio-button value="true">Active </mat-radio-button>
                    <mat-radio-button value="false">Inactive</mat-radio-button>
                  </mat-radio-group>
                  <div *ngIf="addsprintForm.get('isActive')?.invalid && (addsprintForm.get('isActive')?.dirty || 
                  addsprintForm.get('isActive')?.touched)">
                    <mat-error>Please select active inactive.</mat-error>
                  </div>
              </div>
              <div class="field-row">
                <mat-form-field appearance="fill">
                  <mat-label>Status</mat-label>
                  <input matInput type="text" formControlName="status" [readonly]="isInputReadonly">
                </mat-form-field>
              </div>
            <button mat-raised-button color="primary" type="submit">Save</button>
          </form>
      </div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="cancel()">Cancel</button>
</mat-dialog-actions>
</div>